---
import classNames from "../utils/classNames";
import Heading from "./Heading.astro";
import Paragraph from "./Paragraph.astro";

export type Props = {
  title: string;
  description?: string | undefined;
  className?: string | undefined;
  image?: {
    src: string;
    alt: string;
    class?: string | undefined
  } | undefined;
}

const { title, description, image, className = "bg-bg-inv text-text-inv" } = Astro.props;

---

<section class={classNames( className, "py-16")}>
  <div class="grid-container">
    <div class="max-w-[50ch] lg:col-start-2 lg:col-span-6">
      <Heading size="xxl" inverted={true}>{title}</Heading>
      {description && <Paragraph size="lg" set:html={description} />}
    </div>
    <div class="col-span-12 lg:col-start-8 lg:col-span-5 relative">
      {image && (
        <img
          class={classNames(
            image.class,
            `w-full h-auto lg:absolute lg:top-0 lg:left-0 `
          )}
          alt={image.alt}
          src={image.src}
        />
      )}
    </div>
  </div>
</section>