---
import type { CollectionEntry } from "astro:content";
import classNames from "../utils/classNames";
import Button from "./Button.astro";
import MobileMockup from "./MobileMockup.astro";

export type Props = CollectionEntry<"projekte">["data"] & {
  buttonTitle?: string;
  buttonLink?: string;
  class?: string;
};

const {
  title,
  heroImage,
  buttonTitle,
  buttonLink,
  showImageInMockup,
  mobileImage,
  projectUrlWithoutProtocol,
  class: className,
} = Astro.props;
---

<div class={`${className} grid @xl:grid-cols-12 relative @container w-full`}>
  <div
    class="p-0.5 bg-line-dark col-span-12 relative @container/mockup w-full
      shadow-secondary @lg:shadow-secondary-md @2xl:shadow-secondary-lg @5xl:shadow-secondary-2xl
      @2xl:col-start-2 @2xl:col-span-10"
  >
    {
      showImageInMockup && (
        <div class="h-10 @xl/mockup:h-12 bg-line-dark relative">
          <ul
            aria-hidden="true"
            class="absolute top-5 @xl/mockup:top-6 left-4 -translate-y-1/2 flex gap-2 origin-left scale-75 @xl/mockup:scale-100"
          >
            <li class="w-3 h-3 rounded-full bg-[var(--red)]" />
            <li class="w-3 h-3 rounded-full bg-[var(--blue-light)]" />
            <li class="w-3 h-3 rounded-full bg-[var(--white)]" />
          </ul>
          <span class="absolute top-5 @xl/mockup:top-6 left-1/2 -translate-x-1/2 -translate-y-1/2 flex gap-2 text-text-inv text-xs @xl/mockup:text-sm">
            {projectUrlWithoutProtocol}
          </span>
        </div>
      )
    }
    <img
      class={classNames(
        `w-full h-auto object-cover`,
        showImageInMockup ? `aspect-[1148/607]` : `aspect-[1148/698]`,
      )}
      src={heroImage}
      alt={`Screenshot für das Projekt: '${title}'`}
    />
  </div>
  <div class="grid grid-cols-12 col-span-12 items-end relative">
    <div
      class={classNames(
        `col-start-1 col-span-7 @md:col-start-2 @md:col-span-6 pt-6`,
        `@2xl:col-start-2 @2xl:col-span-5`,
        buttonLink && buttonTitle ? `min-h-[5rem]` : `min-h-[2rem]`,
      )}
    >
      {
        buttonLink && buttonTitle && (
          <Button
            href={buttonLink}
            target="_blank"
            rel="noopener noreferrer"
            class="@xl:mb-4"
          >
            {buttonTitle}
          </Button>
        )
      }
    </div>
    {
      mobileImage && (
        <div class="h-full col-start-9 col-span-4 @2xl:col-start-9 @2xl:col-span-3 relative @container/mockup mr-4 @sm:mr-6">
          <div
            aria-hidden="true"
            class="
            absolute w-full -bottom-[6cqw] -right-[6cqw]
            h-[calc(100%+6cqw)]
            rounded-b-[20cqw] bg-shadow-secondary
          "
          />
          <div class="absolute inset-0 top-auto">
            <div class="relative">
              <img
                src={mobileImage}
                alt={`Mobile screenshot für das Projekt: '${title}'`}
                class="w-[calc(100%-6cqw)] h-[calc(100%-6cqw)] rounded-[10cqw] absolute z-10 top-[3cqw] left-[3cqw] object-fill"
              />
              <MobileMockup class="w-full h-auto z-20 relative" />
            </div>
          </div>
        </div>
      )
    }
  </div>
</div>
