---
layout: default.liquid
title: Aktuelles
permalink: "aktuelles/{%if pagination.pageNumber != 0%}{% assign pg=pagination.pageNumber %}{{ pg | plus:
1}}/{%endif%}index.html"
pagination:
  data: collections.post
  size: 8
  enabled: true
  alias: posts
  reverse: true
---
<div class="grid-container">
  <div class="pt-16 px-4 sm:px-6 max-w-[55ch]">
    {% render 'heading', text: 'Aktuelles', size: 'xxl', tag: 'h1' %}
    {% render 'paragraph',
      text: 'Bei der ODIS ist viel los. Konferenzen, Vorträge, Workshops, Weiterbildungen und Proto&shy;typen&shy;entwicklung gehören fest in unser Tätigkeitsfeld. Hier informieren wir über neue Aktivitäten.',
      size: 'lg',
      class: 'text-wrap'
    %}
  </div>

  <div class="grid md:grid-cols-2 gap-4 sm:gap-6">
    {% for post in posts %}
      {% if post.data.visible == true %}
        {% capture post_link %}{{ post.data.link | default: post.url }}{% endcapture %}
        {% assign top_directory = post.data.link | split: '/' | slice: 1, 2 | first %}
        {% capture theme %}
        {% if top_directory == 'projekte' or top_directory ==  'ressourcen' %}
          normal
        {% elsif post.data.link %}
          inverted
        {% else %}
          normal
      {% endif %}
      {% endcapture %}

        {% if post.data.tags contains 'project' %}
          {%
            render 'project-thumbnail',
            project: post,
          %}
        {% else %}
          {% render 'news_card',
            title: post.data.title,
            description: post.data.metaDescription,
            post_link: post_link,
            post_link_text: post.data.urlText,
            date: post.date,
            author: post.data.author,
            image_path: post.data.heroImagePath,
            image_alt_text: post.data.heroImageAltText,
            theme: theme,
            tags: post.data.tags
          %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</div>

{% capture focus_classes %}
  transition motion-reduce:transition-none
  focus-visible:outline-none focus-visible:ring-4
  focus-visible:ring-links/50
  focus-visible:ring-offset-2
{% endcapture %}

<nav
  aria-label="Pagination"
  class="mt-12 grid-container"
>
  <ul class="flex gap-4 justify-center">
    {% for page in pagination.pages %}
      <a
        href="{{ pagination.links[forloop.index0] }}"
        class="text-links font-bold px-3 pt-2 pb-1 motion-safe:transition hover-hover:hover:bg-bg-alt aria-current:text-[var(--red)] aria-current:border border-links-inv {{ focus_classes }}"
        aria-label="Seite {{ forloop.index }}"
        {% if forloop.index0 == pagination.pageNumber %}
          aria-current="true"
        {% endif %}
      >
        {{- forloop.index -}}
      </a>
    {% endfor %}
  </ul>
</nav>

{% render 'newsletter' %}
