---
layout: default.liquid
title: Aktuelles
permalink: "aktuelles/{%if pagination.pageNumber != 0%}{% assign pg=pagination.pageNumber %}{{ pg | plus:
1}}/{%endif%}index.html"
pagination:
  data: collections.post
  size: 8
  enabled: true
  alias: posts
  reverse: true
---
<div class="grid-container">
  <div class="py-16 px-4 md:px-6 ">
    {% render 'heading', text: 'Aktuelles', size: 'xxl', tag: 'h1' %}
    {%
      render 'paragraph',
      text: 'Bei der ODIS ist viel los. Konferenzen, Vorträge, Workshops, Weiterbildungen und Prototypenentwicklung gehören fest in unser Tätigkeitsfeld. Hier informieren wir über neue Aktivitäten.',
      size: 'lg',
    %}
  </div>

  <div class="py-8 px-4 md:px-6 grid md:grid-cols-2 gap-6 ">
    {% for post in posts %}
      {% if post.data.visible == true %}
        {% capture post_link %}{{ post.data.link | default: post.url }}{% endcapture %}
        {% assign top_directory = post.data.link | split: '/' | slice: 1, 2 | first %}
        {% capture theme %}
        {% if top_directory == 'projekte' or top_directory ==  'ressourcen' %}
          normal
        {% elsif post.data.link %}
          inverted
        {% else %}
          normal
      {% endif %}
      {% endcapture %}

        {% render 'news_card.liquid',
          title: post.data.title,
          description: post.data.metaDescription,
          post_link: post_link,
          post_link_text: post.data.urlText,
          date: post.date,
          author: post.data.author,
          image_path: post.data.heroImagePath,
          image_alt_text: post.data.heroImageAltText,
          theme: theme
        %}
      {% endif %}
    {% endfor %}
  </div>
</div>

{% capture focus_classes %}
  transition motion-reduce:transition-none
  focus-visible:outline-none focus-visible:ring-4
  focus-visible:ring-links/50
  focus-visible:ring-offset-2
{% endcapture %}

<nav
  aria-label="Pagination"
  class="mt-12 grid-container"
>
  <ul class="flex gap-4 justify-center">
    {% for page in pagination.pages %}
      <a
        href="{{ pagination.links[forloop.index0] }}"
        class="text-links font-bold px-3 pt-2 pb-1 motion-safe:transition hover-hover:hover:bg-bg-alt aria-current:text-[var(--red)] aria-current:border border-links-inv {{ focus_classes }}"
        aria-label="Seite {{ forloop.index }}"
        {% if forloop.index0 == pagination.pageNumber %}
          aria-current="true"
        {% endif %}
      >
        {{- forloop.index -}}
      </a>
    {% endfor %}
  </ul>
</nav>

<div class="bg-bg-alt mt-40 py-24">
  <section class="grid-container">
    <!-- newsletter -->
    <div class="">
      <h2>Immer up to date?</h2>
      <p class="mb-8">
        Du möchtest über Neuigkeiten und Veranstaltungen zu Open Data in Berlin informiert werden? Melde dich für
        unseren ODIS-Newsletter an!
      </p>
      <a
        class="p-4 border-2 border-line bg-bg drop-shadow-primary w-40 font-clanProNews"
        href="https://subscribe.newsletter2go.com/?n2g=r9s7xtjr-pugsca5z-1c6s&_ga=2.134197321.677887372.1591186343-1970435231.1591186343"
        >Newsletter abonnieren</a
      >
      <p class="mt-16">
        Newsletter verpasst? Stöber einfach in unserem
        <a class="font-clanProNews" href="/aktuelles/archiv">Newsletter-Archiv</a>!
      </p>
    </div>

    <!-- kontakt -->
    <div class="mt-20 ">
      <h3>Du brauchst noch Hilfe?</h3>
      <p class="mb-4">Du benötigst Unterstützung oder hast Feedback? Kontaktiere uns!</p>
      <a href="/kontakt" class="border-b-8 border-line pb-2 font-clanProNews">Zum Kontaktformular</a>
    </div>
  </section>
</div>
