<!DOCTYPE html>
<html>

{% include "head.liquid" %}

<body>
    <div>
        <div>

            {% include "topnav.liquid" %}

            <div class="section mt-6 mb-6">
                {{ content }}

                <div class="mt-5 card border-0 event-resume">
                    <div class="card-body">
                        <h5 class="card-title pb-3">Zusammenfassung</h5>
                        <div class="row">
                            <div class="col-md-4 pb-3">
                                <strong class="d-block">Adresse:</strong> {{ adresse }}
                            </div>
                            <div class="col-md-4 pb-3">
                                <strong class="d-block">Datum:</strong> {{page.date | date: "%d.%m.%Y" }}
                            </div>
                            <div class="col-md-4 pb-3">
                                <strong class="d-block">Uhrzeit:</strong> {{time}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 pb-3">
                                <strong class="d-block">Webseite:</strong> <a class="white" target="_blank"
                                    href="{{web}}">{{web}}</a>
                            </div>
                            <div class="col-md-4 pb-3">
                                <strong class="d-block">Email:</strong> <a href="mailto:{{mail }}">{{mail }}</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            {% include "footer.html" %}
            {% include "matomo.html" %}
        </div>
    </div>
</body>

</html>