---
layout: default
---

<div class="flex flex-col items-center bg-white">
	{% comment %}
	header
	{% endcomment %}
  <div class="bg-blue text-white py-20 flex flex-col items-center">
    <div class="w-1/2">
      {% if heroImage %}
        <h1 class="text-white">{{ title }}</h1>
        <p class="font-clanProNews leading-7 text-lg">{{ metaDescription }}</p>
      </div>
    </div>

		{% comment %}
		image & button
		{% endcomment %}
    <div class="flex flex-col items-center mt-16">
      <img
        class="mb-8"
        src="{{heroImage}}"
        alt="{{title}}">

    {% endif %}

    {% comment %}
		button
		{% endcomment %}
    <div>
      {%- if blogLink -%}
        <a
          class="p-4 mt-8 border-2 border-blue bg-white drop-shadow-[8px_8px_0_rgba(30,57,143,1)] w-40"
          href="{{blogLink}}"
          target="_blank">{{ blogLinkTitle }}</a>
      {%- endif -%}

    </div>

  </div>

	{% comment %}
	content & side navigation
	{% endcomment %}
  <section class="flex">

    <div class="w-4/5 ml-10 md:ml-60 mt-20 mr-40 text-l font-clanProNews leading-7 text-blue-darker">

      <div>
        {{ content }}
      </div>
    </div>


		{% comment %}
		side navigation
		{% endcomment %}
		{% comment %}
		@todo - diese inhalte aus metadata in der md verfügbar machen
		{% endcomment %}
    <div class="w-1/5 mt-20 mr-60 text-sm">
			{% comment %}
			md:visible/hidden bei mobile??? liegt in tailwind.config.js
			{% endcomment %}
      <p class="mb-4 text-red-[#9FA3B2]">
        <strong>Jahr</strong>
        <br> 2023</p>
      <p class="mb-4 text-red-[#9FA3B2]">
        <strong>Projektstatus</strong>
        <br> abgeschlossen</p>
      <p class="mb-4 text-red-[#9FA3B2]">
        <strong>Datensatz</strong>
        <br> Die Datengrundlage bildet eine jährlich aktualisierte Excel-Tabelle, die im Open Data Portal abgelegt wird. Datensatz: 2023 Berliner Weihnachtsmärkte.
      </p>
      <p class="mb-4 text-red-[#9FA3B2]">
        <strong>GitHub</strong>
        <br> Projekt GitHub Repository</p>
      <p class="mb-4 text-red-[#9FA3B2]">
        <strong>Kooperationspartner</strong>
        <br> SenWPG</p>
      <img src="/assets/images/logo-senweb.png" alt="logo">



    </div>
  </section>
</div>