<!DOCTYPE html>
<html>
	{% include "head.html" %}
<body>

	<div id="barba-wrapper">

		{% include "topnav.html" %}

		<div class="bg-blue-500 text-cyan-50">
        {% if heroImage %}


        
		
		<h1 class="text-cyan-50">{{ title }}</h1>
		<p>{{ metaDescription }}</p>
		</div>
		<img class="" src="{{heroImage}}" alt="{{title}}">

		

        {% endif %}

		

		<div>
			{%- if blogLink -%}
			<a class="p-4 mt-8 border-2 border-blue-500 bg-cyan-50 drop-shadow-[8px_8px_0_rgba(30,57,143,1)] w-40" href="{{blogLink}}" target="_blank">{{blogLinkTitle}}</a>
			{%- endif -%}
			{{ content }}
		</div>


		{% include "footer.html" %}
		{% include "matomo.html" %}
	</div>





</body>

</html>