---
layout: default
---
{% comment %}
  AVAILABLE VARIABLES
  -------------------
    tags: Project tags (required)
    title: Project title (required)
    blogLinkTitle: Title of blog post link (optional)
    blogLink: Link to blog post (optional)
    metaDescription: Project meta description (required)
    date: Date of project (optional)
    finishDate: Project planed finish date (optional)
    heroImage: Path to hero image (required)
    mobileImage: Path to mobile image (optional)
    showImageInMockup: Whether to show the hero image in a web mockup (optional)
    projectUrlWithoutProtocol: Project URL without protocol (https://) (optional if not showImageInMockup if false)
    datasetDescription: Description of what the dataset represents (optional)
    datasetLinkText: Text for the link to the dataset (optional)
    datasetLink: Link to the dataset (optional)
    gitHubLink: Link to the GitHub repository (optional)
    partners: List of partners (optional)
      - name: Name of the partner (required)
        url: URL of the partner (required)
        logoPath: Path to the partner logo (optional)

    content: Project markdown content
{% endcomment %}

{% render 'project-header',
  title: title,
  buttonTitle: blogLinkTitle,
  buttonLink: blogLink,
  description: metaDescription,
  mobileImage: mobileImage,
  heroImage: heroImage,
  projectUrlWithoutProtocol: projectUrlWithoutProtocol
%}

<section class="pb-64 px-4 sm:px-6">
  <div
    class="
      container max-w-6xl mx-auto grid
      md:grid-cols-12 md:gap-8
      px-4 sm:px-6
    "
  >
    <div class="md:col-span-8 xl:col-start-1 xl:col-span-6 prose ">
      {{ content }}
    </div>
    <aside class="md:col-start-9 md:col-span-4 xl:col-start-10 xl:col-span-3 py-4 flex flex-col gap-6">
      <dl class="sticky w-full top-6">
        {% if date %}
          <dt class="headline-lg">Jahr</dt>
          <dd class="mb-8">{{ date | date: '%Y' }}</dd>
        {% endif %}

        {% if finishDate %}
          <dt class="headline-lg">Projektschluss</dt>
          <dd class="mb-8">
            {% if finishDate < now %}
              Abgeschlossen
            {% else %}
              {{ finishDate | date: '%d.%m.%Y' }} (geplant)
            {% endif %}
          </dd>
        {% endif %}

        {% if datasetDescription %}
          <dt class="headline-lg">Datensatz</dt>
          <dd class="mb-8">
            <p class="paragraph">{{ datasetDescription }}</p>
            {% if datasetLink and datasetLinkText %}
              {% render 'text-link',
                target: '_blank',
                rel: 'noopener noreferrer',
                text: datasetLinkText,
                href: datasetLink
              %}
            {% endif %}
          </dd>
        {% endif %}

        {% if gitHubLink %}
          <dt class="headline-lg">GitHub</dt>
          <dd class="mb-8">
            {%
              render 'text-link',
              target: '_blank',
              rel: 'noopener noreferrer',
              text: 'Code auf GitHub',
              href: gitHubLink,
            %}
          </dd>
        {% endif %}

        {% if partners.length > 0 %}
          <dt class="headline-lg">Partner</dt>
          <dd class="mb-8">
            <ul class="flex flex-col gap-4">
              {% for partner in partners %}
                <li>
                  <p class="paragraph">{{ partner.name }}</p>
                  {% if partner.logoPath %}
                    <a
                      href="{{ partner.url }}"
                      target="_blank"
                      rel="noopener noreferrer"
                      title="Partner Webseite: {{ partner.name }}"
                    >
                      <img
                        src="{{partner.logoPath}}"
                        alt="Logo von {{ partner.name }}"
                        class="max-w-[min(220px,75%)]"
                      >
                    </a>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </dd>
        {% endif %}
      </dl>
    </aside>
  </div>
</section>
