---
layout: default
---
{% comment %}
  AVAILABLE VARIABLES
  -------------------
    tags: Project tags
    title: Project title
    blogLinkTitle: Title of blog post link
    blogLink: Link to blog post
    metaDescription: Project meta description
    date: Date of project
    finishDate: Project planed finish date
    indexImage: Path to index image
    heroImage: Path to hero image
    mobileImage: Path to mobile image
    content: Project content
    projectUrlWithoutProtocol: Project URL without protocol (https://)
    finishDate: Project finish date
{% endcomment %}

{% render 'project-header',
  title: title,
  buttonTitle: blogLinkTitle,
  buttonLink: blogLink,
  description: metaDescription,
  mobileImage: mobileImage,
  heroImage: heroImage,
  projectUrlWithoutProtocol: projectUrlWithoutProtocol
%}

<section class="pb-64 px-4 sm:px-6">
  <div
    class="
      container max-w-6xl mx-auto grid
      md:grid-cols-12 md:gap-8
      px-4 sm:px-6
    "
  >
    <div class="md:col-span-8 xl:col-start-1 xl:col-span-6 prose ">
      {{ content }}
    </div>
    <aside class="md:col-start-9 md:col-span-4 xl:col-start-10 xl:col-span-3 py-4 flex flex-col gap-6">
      <dl class="sticky w-full top-6">
        <dt class="headline-lg">Jahr</dt>
        <dd class="mb-8">{{ date | date: '%Y' }}</dd>

        {% if finishDate %}
          <dt class="headline-lg">Projektschluss</dt>
          <dd class="mb-8">
            {% if finishDate < now %}
              Abgeschlossen
            {% else %}
              {{ finishDate | date: '%d.%m.%Y' }} (geplant)
            {% endif %}
          </dd>
        {% endif %}

        {% if datasetDescription %}
          <dt class="headline-lg">Datensatz</dt>
          <dd class="mb-8">
            <p class="paragraph">{{ datasetDescription }}</p>
            {% if datasetLink and datasetLinkText %}
              {% render 'text-link',
                target: '_blank',
                rel: 'noopener noreferrer',
                text: datasetLinkText,
                href: datasetLink
              %}
            {% endif %}
          </dd>
        {% endif %}

        {% if gitHubLink %}
          <dt class="headline-lg">GitHub</dt>
          <dd class="mb-8">
            {%
              render 'text-link',
              target: '_blank',
              rel: 'noopener noreferrer',
              text: 'Code auf GitHub',
              href: gitHubLink,
            %}
          </dd>
        {% endif %}

        {% if partners.length > 0 %}
          <dt class="headline-lg">Partner</dt>
          <dd class="mb-8">
            <ul class="flex flex-col gap-4">
              {% for partner in partners %}
                <li>
                  <p class="paragraph">{{ partner.name }}</p>
                  <a
                    href="{{ partner.url }}"
                    target="_blank"
                    rel="noopener noreferrer"
                    title="Partner Webseite: {{ partner.name }}"
                  >
                    <img
                      src="{{partner.logoPath}}"
                      alt="Logo von {{ partner.name }}"
                      class="max-w-[min(220px,75%)]"
                    >
                  </a>
                </li>
              {% endfor %}
            </ul>
          </dd>
        {% endif %}
      </dl>
    </aside>
  </div>
</section>
