---
import WimmelBild from "@/components/WimmelBild.astro";
import highlightedDatasets from "@/assets/data/highlighted_datasets.json";
import Button from "./Button.astro";

const focusStyles =
  "focus-visible:outline-none focus-visible:ring-4 focus-visible:ring-links/50 focus-visible:ring-offset-8 transition motion-reduce:transition-none";
---

<section
  aria-label="Von ODIS für wichtig befundene Datensätze"
  class="w-full my-12"
>
  <div class="hidden lg:block container mx-auto px-4" id="wimmelbild-container">
    <link
      rel="stylesheet"
      href="https://unpkg.com/tippy.js@6/themes/light-border.css"
    />
    <WimmelBild />
  </div>

  <div class="swiper mb-4 w-full h-full lg:hidden" aria-hidden="true">
    <div class="swiper-wrapper flex flex-nowrap items-end" aria-hidden="true">
      {
        highlightedDatasets.map((dataset) => {
          if (dataset.image_path) {
            return (
              <div class="swiper-slide">
                <img
                  class="w-full h-auto"
                  src={dataset.image_path}
                  aria-hidden="true"
                />
              </div>
            );
          }
        })
      }
    </div>
  </div>

  <div class="flex flex-wrap gap-y-4 lg:hidden">
    <div id="highlighted-datasets" class="w-full">
      {
        highlighted_datasets.map((dataset, index) => (
          <div
            data-highlighted-dataset-index={index}
            data-highlighted-dataset-id={dataset.id}
            class="hidden px-12 relative"
          >
            <h2
              id={`${dataset.id}-title`}
              class="text-xl font-bold text-headlines"
            >
              {dataset.title}
            </h2>
            <div class="absolute -top-12 left-1/2 -translate-x-1/2 text-center lg:relative lg:top-auto lg:left-auto lg:translate-x-0 lg:text-left lg:px-0 lg:my-2 w-full px-12 text-sm">
              {dataset.url ? (
                <a
                  href={dataset.url}
                  class="text-links hover-hover:hover:text-links-active font-bold uppercase tracking-wider inline-flex flex-nowrap gap-x-1 items-center"
                >
                  <ExternalLinkIcon class="inline-block w-6 h-auto" />
                  Zum Datensatz
                </a>
              ) : (
                <p class="text-[var(--red)] font-bold uppercase tracking-wider inline-flex flex-nowrap gap-x-1 items-center">
                  <LockIcon class="inline-block w-6 h-auto" />
                  Datensatz geschlossen
                </p>
              )}
            </div>
            <p id={`${dataset.id}-description`} class="my-2">
              {dataset.description}
            </p>
            {dataset.example_usage && (
              <Button
                tag="a"
                href={dataset.example_usage}
                target="_blank"
                class="w-full text-center !mt-4"
              >
                Beispiel-Anwendung
              </Button>
            )}
            {!dataset.url && (
              <Button tag="a" href="/journey" class="w-full text-center !mt-4">
                Wie ODIS Daten öffnet
              </Button>
            )}
          </div>
        ))
      }
    </div>
    <div class="w-full px-6 flex justify-between order-first">
      <button class="swiper-button-prev {{ focus_styles }}"></button>
      <button class="swiper-button-next {{ focus_styles }}"></button>
    </div>
  </div>

  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@6"></script>
  <script src="/assets/js/highlighted-datasets.js"></script>
</section>
