---
import NewsCardContent from "./NewsCardContent.astro";
import Button from "./Button.astro";
import TextLink from "./TextLink.astro";
import NewsCardGradient from "./NewsCardGradient.astro";
import { cn } from "../utils/classNames";
import { Icon } from "astro-icon/components";
import type { CollectionEntry } from "astro:content";

export type Props = CollectionEntry<"aktuelles"> & {
  class?: string;
};

const { class: className = "", data, slug } = Astro.props;
const { headerImage } = data;

const hasLink = !!data.link;
const linkIsExternal = hasLink && data.link?.startsWith("http");
const postLink = data.link && linkIsExternal ? data.link : `/aktuelles/${slug}`;
const theme = linkIsExternal ? "inverted" : "normal";
const paddingClasses = `px-7 pt-7 pb-10`;
const isInverted = theme === "inverted";
const contentAreaWrapperClasses =
  !isInverted && headerImage ? paddingClasses : "";
---

<article
  class={cn(
    `@container relative grid grid-items-start`,
    `grid-rows-[250px,minmax(auto,1fr)] border`,
    !isInverted && `bg-bg-alt text-text border-bg-alt`,
    !isInverted && headerImage?.src ? `p-0` : paddingClasses,
    isInverted && `text-text-inv bg-bg-inv bg-top`,
    isInverted && `border-bg-inv bg-no-repeat bg-cover @md:bg-contain`,
    isInverted && paddingClasses,
    className,
  )}
>
  {
    !isInverted && headerImage?.src && (
      <a
        href={postLink}
        style={{ backgroundImage: `url("${headerImage.src.src}")` }}
        class="
        h-full bg-center bg-cover relative outline-none
        hover:opacity-50 transition-opacity duration-300 ease-in-out
      "
        role="img"
        tabindex="-1"
        aria-label={headerImage.alt}
      >
        <div class="absolute inset-0 bg-bg-inv mix-blend-screen opacity-50" />
      </a>
    )
  }
  {
    isInverted && headerImage?.src && (
      <a
        class="h-full group outline-none"
        href={postLink}
        title={data.urlText}
        rel="noopener noreferrer"
        target="_blank"
        tabindex="-1"
      >
        <div
          class="
          absolute top-0 left-0 w-full h-1/2 bg-top bg-cover
          group-hover:opacity-50 transition-opacity duration-300 ease-in-out
        "
          style={{ backgroundImage: `url("${headerImage.src.src}")` }}
          role="img"
          aria-label={headerImage.alt}
        />
      </a>
    )
  }
  <div
    class={cn(
      "row-start-2 h-full grid grid-rows-[auto,1fr] gap-6 z-10",
      contentAreaWrapperClasses,
    )}
  >
    <div class="flex flex-col gap-2">
      <NewsCardContent
        {...Astro.props.data}
        postLink={postLink}
        theme={theme}
      />
    </div>
    <div class="flex flex-col justify-end items-start">
      {
        !isInverted && (
          <Button tag="a" href={postLink} variant="secondary">
            {data.urlText}
          </Button>
        )
      }
      {
        theme !== "normal" && (
          <TextLink
            tag="a"
            href={postLink}
            class="text-text-inv focus-visible:bg-bg focus-visible:decoration-bg focus-visible:text-links"
          >
            {data.urlText}
          </TextLink>
        )
      }
    </div>
  </div>
  {
    isInverted && (
      <>
        <div class="sr-only" role="img" aria-label={headerImage?.alt} />
        <NewsCardGradient class="absolute top-0 left-0 w-full h-full" />
        <Icon
          name="ui/external-link"
          class="absolute top-6 right-6"
          size={20}
          aria-hidden="true"
        />
      </>
    )
  }
</article>
