---
import { Image } from "astro:assets";
import { cn } from "../utils/classNames";
import Heading from "./Heading.astro";
import Paragraph from "./Paragraph.astro";
import ArrowLeft from "./icons/ArrowLeft.astro";
import { formatGermanDate } from "@/utils/dateUtil";

export type Props = {
  title: string;
  description: string;
  date: Date;
  basePath: string;
  class?: undefined | string;
  image?:
    | undefined
    | {
        src: ImageMetadata;
        alt: string;
      };
};

const {
  basePath,
  title,
  description,
  date,
  image,
  class: className,
} = Astro.props;

const formattedDate = formatGermanDate(date);
const dateIsoString = date.toISOString();
---

<div class={cn(`w-screen overflow-x-hidden`, image && `pb-[8vmin]`, className)}>
  <section class="bg-bg-alt" aria-label="Einführung">
    <div class="grid-container">
      <div class="lg:col-start-2 lg:col-span-5 py-10">
        <Paragraph class="flex gap-x-3 flex-wrap">
          <a
            href={`/${basePath}`}
            class="flex items-bottom gap-1 opacity-70 transition hover:opacity-100 hover:text-links-active focusable"
          >
            <ArrowLeft />
            Zurück
          </a>
          <span aria-hidden="true" class="scale-150 opacity-50">·</span>
          <time datetime={dateIsoString} class="opacity-70">
            {formattedDate}
            <slot name="naturalLanguageTime" />
          </time>
          <slot name="prefix" />
        </Paragraph>
        <Heading tag="h1" set:html={title} size="xxl" />
        <slot name="suffix" />
        <Paragraph size="lg" set:html={description} />
        <slot name="buttons" />
      </div>
      {
        image && (
          <div
            class={cn(
              `aspect-video lg:aspect-auto`,
              `row-start-1 row-end-2 col-span-12`,
              `lg:col-start-8 lg:col-span-4 relative`,
              image ? `lg:h-[calc(100%+8vmin)]` : `lg:h-full`,
            )}
          >
            <div
              class="
                absolute top-0 bg-bg-alt
                w-[110vw] h-full
                -left-6
                xs:left-[calc((var(--gridGap)+var(--marginSize))*-1)]
                sm:left-[calc((var(--gridGap)+var(--columnSize)+var(--marginSize))*-1)]
                lg:left-0
                lg:w-[calc(100%+var(--marginSize)+var(--columnSize)+3rem)]
                max-w-7xl
              "
            >
              <Image
                src={image.src}
                alt={image.alt}
                class="w-full h-full object-cover"
                widths={[360, 640, 960, 1280]}
                sizes={`
                  (max-width: 400px) 360px,
                  (max-width: 720px) 640px,
                  (max-width: 1024px) 960px,
                  1280px
                `}
              />
            </div>
            <div
              class="
            absolute top-0 bg-cover bg-center
            w-[110vw] h-full
            -left-6
            pointer-events-none
            sm:left-[calc((1.5rem+var(--columnSize)+var(--marginSize))*-1)]
            lg:left-0
            lg:w-[calc(100%+var(--marginSize)+var(--columnSize)+3rem)]
            bg-bg-inv mix-blend-screen opacity-50
          "
              aria-hidden="true"
            />
          </div>
        )
      }
    </div>
  </section>
</div>
