---
import type { CollectionEntry } from "astro:content";
import Heading from "./Heading.astro";
import Paragraph from "./Paragraph.astro";
import ProjectMockups from "./ProjectMockups.astro";
import Button from "./Button.astro";
import type { LocalImageProps } from "astro:assets";
import { cn } from "@/utils/classNames";

export type Props = CollectionEntry<"projekte"> & {
  class?: string;
  titleTag?: "h2" | "h3" | "h4" | "h5" | "h6" | "p";
  imageLoading?: LocalImageProps["loading"];
};

const {
  data,
  slug,
  titleTag = "h2",
  class: className = "",
  imageLoading = "lazy",
} = Astro.props;
const { title, description, category } = data;
---

<a
  href={`/projekte/${slug}`}
  title={title}
  class={cn("group hover:text-text not-prose", className)}
>
  <ProjectMockups
    {...data}
    slug={slug}
    imageLoading={imageLoading}
    class={cn(
      "group-hover:-translate-y-2",
      "transition-transform ease-out-extreme duration-1000",
    )}
  />
  <Paragraph class="opacity-90 text-sm mb-1" set:html={category} />
  <Heading
    tag={titleTag}
    size="lg"
    class={cn(
      "mb-1 transition-all w-fit",
      `decoration-clone underline-offset-4 decoration-4`,
      `decoration-[transparent] underline`,
      `dark:group-hover:decoration-[var(--links-active)]`,
      `hover-hover:group-hover:text-links-active`,
      `dark:hover-hover:group-hover:text-text`,
    )}
    set:html={title}
  />
  <Paragraph set:html={description} />
  <Button tag="span" variant="secondary">Projekt ansehen</Button>
</a>
