---
import type { CollectionEntry } from "astro:content";
import Heading from "./Heading.astro";
import Paragraph from "./Paragraph.astro";
import ProjectMockups from "./ProjectMockups.astro";
import Button from "./Button.astro";
import type { LocalImageProps } from "astro:assets";

export type Props = CollectionEntry<"projekte"> & {
  class?: string;
  titleTag?: "h2" | "h3" | "h4" | "h5" | "h6" | "p";
  imageLoading?: LocalImageProps["loading"];
};

const {
  data,
  slug,
  titleTag = "h2",
  class: className = "",
  imageLoading = "lazy",
} = Astro.props;
const { title, description, category } = data;
---

<a href={`/projekte/${slug}`} title={title} class={className}>
  <ProjectMockups {...data} slug={slug} imageLoading={imageLoading} />
  <Paragraph class="opacity-90 text-sm mb-1" set:html={category} />
  <Heading tag={titleTag} size="lg" class="mb-1" set:html={title} />
  <Paragraph set:html={description} />
  <Button tag="span" variant="secondary">Projekt ansehen</Button>
</a>
