---
import { type CollectionEntry, getCollection } from "astro:content";
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import Paragraph from "../../components/Paragraph.astro";
import Heading from "../../components/Heading.astro";
import ArrowLeft from "../../components/icons/ArrowLeft.astro";

export async function getStaticPaths() {
  const posts = await getCollection("aktuelles");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"aktuelles">;

const post = Astro.props;
const {
  date,
  title,
  author,
  readingTime,
  description,
  heroImagePath,
  heroImageAltText,
} = post.data;
const { Content } = await post.render();

const formattedIntlTime = new Intl.DateTimeFormat("de-DE", {
  year: "numeric",
  month: "long",
  day: "numeric",
}).format(new Date(date));
---

<DefaultLayout
  metaDescription={post.data.metaDescription || post.data.description}
  metaTitle={post.data.metaTitle || post.data.title}
  externalLibs={["tableOfContents"]}
>
  <div class="w-screen overflow-x-hidden pb-[8%]">
    <section class="bg-bg-alt" aria-label="Einführung">
      <div class="grid-container">
        <div class="lg:col-start-2 lg:col-span-5 py-10">
          <Paragraph class="flex gap-x-3 flex-wrap">
            <a
              href="/aktuelles"
              class="flex items-bottom gap-1 opacity-70 transition hover:opacity-100 hover:text-links-active focusable"
            >
              <ArrowLeft />
              Zurück
            </a>
            <span aria-hidden="true" class="scale-150 opacity-50">·</span>
            <time
              datetime={date.toISOString().split("T")[0]}
              class="opacity-70"
            >
              {formattedIntlTime}
            </time>
          </Paragraph>
          <Heading tag="h1" set:html={title} size="xxl" />
          {
            (author || readingTime) && (
              <Paragraph class="opacity-70 flex gap-x-3 flex-wrap">
                {author && <span class="inline not-italic">Von {author}</span>}
                {author && readingTime && (
                  <span aria-hidden="true" class="opacity-50">
                    ·
                  </span>
                )}
                {readingTime && <span>{readingTime} Minuten</span>}
              </Paragraph>
            )
          }
          <Paragraph size="lg" set:html={description} />
        </div>
        {
          heroImagePath && heroImageAltText && (
            <div
              class="aspect-video lg:aspect-auto lg:h-[108%] row-start-1 row-end-2 col-span-12 lg:col-start-8 lg:col-span-4 relative"
              role="figure"
              aria-label={heroImageAltText}
            >
              <div
                class="
              absolute top-0 bg-cover bg-center
              w-[110vw] h-full
              -left-6
              sm:left-[calc((1.5rem+var(--columnSize)+var(--marginSize))*-1)]
              lg:left-0
              lg:w-[calc(100%+var(--marginSize)+var(--columnSize)+3rem)]
            "
                style={{ backgroundImage: `url(${heroImagePath})` }}
              />
              <div
                class="
              absolute top-0 bg-cover bg-center
              w-[110vw] h-full
              -left-6
              pointer-events-none
              sm:left-[calc((1.5rem+var(--columnSize)+var(--marginSize))*-1)]
              lg:left-0
              lg:w-[calc(100%+var(--marginSize)+var(--columnSize)+3rem)]
              bg-bg-inv mix-blend-screen opacity-50
            "
                aria-hidden="true"
              />
            </div>
          )
        }
      </div>
    </section>
  </div>

  <section aria-label="Beitrag">
    <div class="grid-container">
      <div
        class="pt-16 flex flex-col gap-6 order-first lg:order-last lg:col-start-9 lg:col-span-3 z-0"
      >
        <div class="sticky w-full top-6 lg:pb-48" id="toc-target">
          <span id="toc-label" class="font-bold text-headlines"
            >Auf dieser Seite</span
          >
        </div>
      </div>
      <div
        class="toc-content lg:col-span-6 lg:col-start-2 xl:col-span-5 xl:col-start-2 prose prose-a:focusable pt-16 pb-48 relative z-10"
      >
        <Content />
      </div>
    </div>
  </section>
</DefaultLayout>
