---
layout: default.liquid
title: Kontakt
topics:
  - key: "erstgespräch"
    label: "Erstgespräch Open Data"
  - key: "bereitstellung"
    label: "Fragen zur Datenbereitstellung"
  - key: "visualisierung"
    label: "Fragen zur Datenvisualisierung"
  - key: "datenquali"
    label: "Datenqualität"
  - key: "od-portal"
    label: "Fragen zum Open Data Portal"
  - key: "datensuche"
    label: "Suche nach Daten"
  - key: "prototyp"
    label: "Projektvorschlag"
  - key: "sonstiges"
    label: "Sonstiges"
---

{% capture focus_classes %}
  transition motion-reduce:transition-none
  focus-visible:outline-none focus-visible:ring-4
  focus-visible:ring-links/50
  focus-visible:ring-offset-2
{% endcapture %}

{% capture input_tag_classes %}
  italic text-sm 
  inline-block px-3 py-2
  {{ focus_classes }}
{% endcapture %}

<div class="bg-bg-inv text-text-inv pt-16 pb-20 px-4 sm:px-6">
  <div class="container max-w-6xl mx-auto grid md:grid-cols-12 px-4 sm:px-6 gap-8">
    <div class="md:col-span-8 xl:col-start-1 xl:col-span-6">
      {%
         render 'heading',
       tag: 'h1',
       text: 'Kontakt',
       size: 'xxl',
       inverted: true, %}
      {%
         render 'paragraph',
       text: 'Du hast eine Frage, benötigst Unterstützung bei deinem Open-Data-Vorhaben oder hast eine Projektidee? Dann kontaktiere uns.',
       size: 'lg', %}
    </div>
  </div>
</div>

<div class="pb-24 px-4 sm:px-6 lg:-mt-56">
  <div class="container max-w-6xl mx-auto px-4 sm:px-6 pt-20">
    <div class="hidden lg:col-start-3 lg:flex items-start justify-end pr-3 pb-12">
      <img
        src="/assets/images/illustrations/odis_icon_contact.svg"
        aria-hidden="true"
        loading="lazy"
        class="grow max-w-[220px]">
    </div>
    {% render 'heading', text: 'Wir freuen uns darauf mit dir in Kontakt zu kommen!' %}
    {%
       render 'paragraph',
     text: 'Egal ob Open-Data-Erstgespräch, spezifische Fragestellung, lockerer Austausch und Anfrage für ein gemeinsames Projekt: Du kannst uns eine Mail an das ODIS-Postfach schicken,
     die einzelnen Teammitglieder telefonisch erreichen oder das unten stehende Kontaktformular nutzen. Das Unterstützungsangebot der ODIS wird über eine Zuwendung der Berliner Senatskanzlei finanziert.',
     class: '' %}
    <div class="flex justify-start mt-6">
      {% render 'text-link', text: 'Mail an ODIS', href: "mailto:odis@ts.berlin" %}
    </div>
    <div class="flex justify-start mt-4">
      {% render 'text-link', text: 'Team und Telefonnummern', href: "/ueber-odis#team" %}
    </div>
  </div>
</div>

<div class="pb-24 px-4 sm:px-6 bg-bg-alt">
  <div class="container max-w-6xl mx-auto px-4 sm:px-6 pt-20">
    {% render 'heading', text: 'Kontaktformular' %}
    <form
      name="contact"
      method="POST"
      data-netlify="true"
      action="/sucess">
      <fieldset class="block mt-6" name="kontaktdaten">
        {% render 'heading', text: 'Kontaktdaten', tag: 'legend', size: 'lg' %}
        <div class="grid grid-cols-1 gap-5 lg:w-2/3">
          <div class="grid grid-cols-1 gap-2">
            <label for="anrede">Anrede</label>
            <select
              class="w-1/2 md:w-1/5 bg-bg px-3 py-2 {{ focus_classes }}"
              name="anrede"
              id="anrede">
              <option value="" aria-label="Keine Auswahl">-</option>
              <option value="Frau">Frau</option>
              <option value="Herr">Herr</option>
              <option value="Divers">Divers</option>
            </select>
          </div>
          <div class="grid grid-cols-1 gap-2">
            <label for="name">Name<span aria-hidden="true">*</span>
            </label>
            <input
              class="{{ input_tag_classes }}"
              type="text"
              id="name"
              name="name"
              placeholder="Vor- und Nachname"
              required>
          </div>
          <div class="grid grid-cols-1 gap-2">
            <label for="organisation">Organisation/Abteilung</label>
            <input
              class="{{ input_tag_classes }}"
              type="text"
              id="organisation"
              name="organisation"
              placeholder="Organisation und ggf. Abteilung"
              pattern="^(?!.*[Ss]tandesamt).*$"
              title="Bitte beachten Sie, dass wir nicht die ODiS, Online-Datenbank beim Standesamt, sind. Anfragen bzgl. Zugansdaten zu dieser Datenbank können wir leider nicht bearbeiten." />
          </div>
          <div class="grid grid-cols-1 gap-1">
            <label for="email">E-Mail-Adresse<span aria-hidden="true">*</span>
            </label>
            <input
              class="{{ input_tag_classes }}"
              type="email"
              id="email"
              name="email"
              placeholder="E-Mail-Adresse">
          </div>

        </div>
      </fieldset>
      <fieldset
        class="block mt-8"
        name="anfragenthema"
        aria-describedby="anfragenthema-hint">
        {% render 'heading', text: 'Thema der Anfrage', tag: 'legend', size: 'lg' %}
        <p id="anfragenthema-hint" class="text-sm pb-3 italic">Mehrfachauswahl möglich</p>
        <div class="mt-2 grid md:grid-cols-2 gap-3 lg:w-2/3">
          {% for topic in topics %}
            <div class="flex items-center gap-2">
              <input
                type="checkbox"
                id="{{ topic.key }}"
                name="anfrage"
                value="{{ topic.key }}"
                class="w-6 h-6 -translate-y-0.5 {{ focus_classes }}">
              <label for="{{ topic.key }}">{{ topic.label }}</label>
            </div>
          {% endfor %}
        </div>
      </fieldset>
      <fieldset class="block mt-8" name="message">
        {% render 'heading', text: 'Beschreibung zur Anfrage', tag: 'legend', size: 'lg', id: 'message-legend' %}
        <textarea
          class="w-full lg:w-2/3 px-3 py-2 {{ focus_classes }}"
          id="message"
          name="message"
          rows="8"
          aria-labelledby="message-legend"></textarea>
      </fieldset>
    </fieldset>
    <fieldset class="block mt-8" name="datenschutz">
      {% render 'heading', text: 'Datenschutz', tag: 'legend', size: 'lg' %}
      <div class="flex items-start gap-3">
        <input
          type="checkbox"
          id="DSV"
          name="datenschutz"
          value="DSV"
          class="w-6 h-6 flex-shrink-0 {{ focus_classes }}"
          required>
        <label class="lg:w-2/3" for="DSV">Ich habe die
          <a class="italic underline {{ focus_classes }}" href="https://www.technologiestiftung-berlin.de/datenschutz">Datenschutzbestimmungen</a>
          gelesen und erkenne diese ausdrücklich an.<span aria-hidden="true">*</span>
        </label>
      </div>
      <div class="mt-3 flex items-start gap-3">
        <input
          type="checkbox"
          id="speicherung"
          name="datenschutz"
          value="speicherung"
          class="w-6 h-6 flex-shrink-0 {{ focus_classes }}"
          required>
        <label class="lg:w-2/3" for="speicherung">Ich bin damit einverstanden, dass meine angegebenen Daten zum Zweck der Kontaktaufnahme und Vorbereitung zum Gespräch gespeichert werden dürfen.<span aria-hidden="true">*</span>
        </label>
      </div>
    </fieldset>
    <p class="text-sm italic pt-6" aria-hidden="true">
      * Angabe notwendig</p>
    <div class="flex justify-center pt-6">
      {% render 'button.liquid', text: 'Anfrage abschicken', type: 'submit', tag: 'button' %}
    </div>
  </form>
</div>