<section aria-label="Von ODIS für wichtig befundene Datensätze" class="w-full my-12">
  <div class="hidden lg:block container mx-auto px-4" id="wimmelbild-container">
    {% include "partials/map_horizontal.html" %}
  </div>

  <div class="swiper mb-4 w-full h-full lg:hidden" aria-hidden="true">
    <div class="swiper-wrapper" aria-hidden="true">
      {% for dataset in highlighted_datasets %}
        <div class="swiper-slide">
          <img
            class="w-full h-auto"
            src="{{ dataset.image_path  }}"
            aria-hidden="true">
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="flex flex-wrap gap-y-4 lg:hidden">
    <div id="highlighted-datasets" class="w-full">
      {% for dataset in highlighted_datasets %}
        <div
          data-highlighted-dataset-index="{{ forloop.index | minus: 1 }}"
          data-highlighted-dataset-id="{{ dataset.id }}"
          class="hidden px-12 relative"
        >
          <h2
            id="{{ dataset.id }}-title"
            class="text-xl font-bold text-blue-500"
          >{{ dataset.title }}</h2>
          <div class="absolute -top-12 left-1/2 -translate-x-1/2 text-center lg:relative lg:top-auto lg:left-auto lg:translate-x-0 lg:text-left lg:px-0 lg:my-2 w-full px-12 text-sm">
            {% if dataset.url %}
              <a href="{{ dataset.url  }}" class="font-bold text-blue-500 uppercase tracking-wider">Zum Datensatz</a>
            {% else %}
              <p class="text-red-500 font-bold uppercase tracking-wider">Datensatz geschlossen</p>
            {% endif %}
          </div>
          <p
            id="{{ dataset.id }}-description"
            class="my-2"
          >{{ dataset.description }}</p>
          {% if dataset.example_usage %}
            <a href="{{ dataset.example_usage  }}" class="underline">Beispiel-Anwendung</a>
          {% endif %}
          {% unless dataset.url %}
            <a href="/journey" class="underline">Wie ODIS Daten öffnet</a>
          {% endunless %}
        </div>
      {% endfor %}
    </div>
    <div class="w-full px-6 flex justify-between order-first">
      <button class="swiper-button-prev"></button>
      <button class="swiper-button-next"></button>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@6"></script>
  <script src="/assets/js/highlighted-datasets.js"></script>
</section>