{% comment %} 
AVAILABLE VARIABLES:
- title: (required)
- description (required)
- date (required)
- post_link (required)
- post_link_text (optional)
- author (optional)
- background_image_path (optional)
- class (optional)
{% endcomment %}

{% capture article_classes %}
  {{ class }}
  relative
  grid items-start
  {% if background_image_path %}
    grid-rows-[200px,auto]
  {% else %}
    grid-rows-[0px,auto]
  {% endif %}
  px-7 pt-7 pb-10
  text-text-inv
  bg-bg-inv bg-blend-luminosity bg-center
{% endcapture %}

{% assign link_text = post_link_text | default: 'Zum Beitrag' %}

<article class="{{ article_classes }}"
  {% if background_image_path %}
    style="background-image: url({{ background_image_path }});"
  {% endif %}>
  {% if background_image_path %}
    <div class="absolute top-0 left-0 w-full h-full bg-gradient-to-t from-bg-inv from-50% opacity-95"></div>
  {% endif %}
  <div class="row-start-2 grid gap-3 z-10">
    {% render 'heading', size: 'lg', text: title, class: 'text-headlines-inv' %}
    <p class="line-clamp-7">{{ description }}</p>
    <div class="order-first text-headlines-inv text-sm flex justify-between gap-3">
      {% if author %}
        <address class="not-italic">{{ author }}</address>
      {% endif %}
      <time datetime="{{ date | date: "%Y-%m-%d" }}" class="justify-self-end">{{ date | date: "%d.%m.%Y" }}</time>
    </div>
    {% render 'text-link', text: link_text, href: link, class: 'text-text-inv' %}
  </div>
</article>