{% comment %}
  AVAILABLE VARIABLES
  -------------------
    title: Title of the project (required)
    heroImage: Path to hero image (required)
    buttonTitle: Title of button (optional)
    buttonLink: Link of button (optional)
    showImageInMockup: Whether to show a window header mockup (optional)
    mobileImage: Path to mobile image (optional)
    projectUrlWithoutProtocol: Project URL without protocol (https://) (optional if showImageInMockup is false)
    class: Optional additional classes to add to the container (optional)
{% endcomment %}
{% assign shadowType = shadowType | default: 'full' %}

<div class="{{ class }} grid xl:grid-cols-12 relative @container w-full">
  <div class="
    p-0.5 bg-line-dark col-span-12 relative @container/mockup w-full
    shadow-secondary @lg:shadow-secondary-md @2xl:shadow-secondary-lg @5xl:shadow-secondary-2xl
  ">
    {% comment %} DESKTOP MOCKUP {% endcomment %}
    {% if showImageInMockup %}
      <div class="h-10 @xl/mockup:h-12 bg-line-dark relative">
        <ul
          aria-hidden="true"
          class="absolute top-5 @xl/mockup:top-6 left-4 -translate-y-1/2 flex gap-2 origin-left scale-75 @xl/mockup:scale-100"
        >
          <li class="w-3 h-3 rounded-full bg-[var(--red)]"></li>
          <li class="w-3 h-3 rounded-full bg-[var(--blue-light)]"></li>
          <li class="w-3 h-3 rounded-full bg-[var(--white)]"></li>
        </ul>
        <span class="absolute top-5 @xl/mockup:top-6 left-1/2 -translate-x-1/2 -translate-y-1/2 flex gap-2 text-text-inv text-xs @xl/mockup:text-sm">
          {{ projectUrlWithoutProtocol }}
        </span>
      </div>
    {% endif %}
    <img 
      class="
        w-full h-auto object-cover
        {% if showImageInMockup %}
          aspect-[1148/607]
        {% else %}
          aspect-[1148/698]
        {% endif %}
      "
      src="{{ heroImage }}"
      alt="Screenshot für das Projekt: '{{ title }}'"
    />
  </div>
  <div class="grid grid-cols-12 col-span-12 gap-8 px-4 @sm:px-6 items-end relative">
    <div
      class="
        col-start-1 col-span-7 pt-6
        {% if buttonLink and buttonLinkTitle %}
          min-h-[5rem]
        {% else %}
          min-h-[2rem]
        {% endif %}
      "
    >
      {% if buttonLink and buttonTitle %}
        {%
          render 'button',
          text: buttonTitle,
          href: buttonLink,
          target: '_blank',
          rel: 'noopener noreferrer',
          class: '@xl:mt-4'
        %}
      {% endif %}
    </div>
    {% if mobileImage != blank %}
      <div
        class="h-full col-start-9 col-span-4 @xl:col-start-10 @xl:col-span-3 relative @container/mockup"
      >
        <div
          aria-hidden="true"
          class="
            absolute w-full -bottom-[6cqw] -right-[6cqw]
            h-[calc(100%+6cqw)]
            rounded-b-[20cqw] bg-shadow-secondary
          "
        ></div>
        <div class="absolute inset-0 top-auto">
          <div class="relative">
            <img
              src="{{ mobileImage }}"
              alt="Mobile screenshot für das Projekt: '{{ title }}'"
              class="w-[calc(100%-6cqw)] h-[calc(100%-6cqw)] rounded-[10cqw] absolute z-10 top-[3cqw] left-[3cqw] object-fill"
            >
            {%
              render 'mobile-mockup',
              class: 'w-full h-auto z-20 relative',
            %}
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</div>
