---
layout: default.liquid
---
<section class="bg-bg-inv text-text-inv py-16">
  <div class="grid-container">
    <div class="max-w-[50ch] lg:col-start-2 lg:col-span-6">
      {%
        render 'heading',
        text: title,
        size: 'xxl',
        inverted: true,
      %}
      {%
        render 'paragraph',
        text: intro,
        size: 'lg',
      %}
    </div>
    {% if introImage and introImageAlt %}
      <div
        class="col-span-12 lg:col-start-8 lg:col-span-5 relative"
      >
        <img
          class="
            w-full h-auto
            lg:absolute lg:top-0 lg:left-0
            lg:max-w-none lg:max-h-[70vh]
            lg:w-[calc(140%+var(--marginSize)+3rem)]
          "
          alt="{{ introImageAlt }}"
          src="{{ introImage }}"
        >
      </div>
    {% endif %}
  </div>
</section>

<section class="bg-bg text-text py-16">
  <div class="grid-container">
    <div class="prose lg:col-start-2 lg:col-span-6">
      {{ content }}
    </div>
  </div>
</section>

<section class="bg-bg-alt text-text pt-16 ">
  <div class="grid-container">
    <div class="prose lg:col-start-2 lg:col-span-6">
      {%
        render 'heading',
        text: missionTitle,
        size: 'xl',
        tag: 'h2',
      %}
      {%
        render 'paragraph',
        text: missionText,
      %}
    </div>
  </div>
</section>

<section class="bg-bg-alt text-text pb-0">
  <div class="grid-container">
    <div class="prose lg:col-start-2 lg:col-span-6 pb-16">
      {%
        render 'heading',
        text: 'Tätigkeitsbereiche',
        size: 'lg',
        tag: 'h3',
      %}
      <div class="not-prose mt-6">
        <ul class="grid grid-cols-3 sm:grid-cols-6 gap-x-6 gap-y-4">
          {% for workArea in workAreas %}
            <li class="col-span-3 flex sm:flex-col gap-4 items-start">
              <img src="{{ workArea.image }}" alt="{{ workArea.imageAlt }}" class="w-[72px]">
              {%
                render 'paragraph',
                text: workArea.content,
              %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div
      class="aspect-video lg:aspect-auto row-start-1 row-end-2 col-span-12 lg:col-start-9 lg:col-span-3 relative mt-6"
      role="figure"
      aria-label="{{ moodImageAlt }}"
    >
      <div
        class="
          absolute top-0 bg-cover bg-top
          w-[110vw] h-full
          -left-6
          sm:left-[calc((1.5rem+var(--columnSize)+var(--marginSize))*-1)]
          lg:left-0
          lg:w-[calc(100%+var(--marginSize)+var(--columnSize)+3rem)]
        "
        style="background-image: url({{ moodImage }});"
      ></div>
      <div
        class="
          absolute top-0 bg-cover bg-top
          w-[110vw] h-full
          -left-6
          pointer-events-none
          sm:left-[calc((1.5rem+var(--columnSize)+var(--marginSize))*-1)]
          lg:left-0
          lg:w-[calc(100%+var(--marginSize)+var(--columnSize)+3rem)]
          bg-bg-inv mix-blend-screen opacity-50
        "
        aria-hidden="true"
      ></div>
    </div>
  </div>
</section>

<section class="bg-bg text-text pt-16 pb-6">
  <div class="grid-container">
    <div class="lg:col-start-2 lg:col-span-6">
      {%
        render 'heading',
        text: teamTitle,
        size: 'xl',
        tag: 'h2',
      %}
    </div>
  </div>
</section>
<section class="bg-bg text-text pb-6">
  <div class="grid-container">
    <!-- right side -->
    <ul class="lg:col-start-1 lg:col-span-8 grid grid-cols-4 lg:grid-cols-8 gap-x-6 gap-y-12">
      {% for member in team %}
        <li class="col-span-4 grid">
          <address class="grid grid-cols-4 gap-6 items-center lg:items-start">
            <img
              class="rounded-full w-40 col-span-1 lg:scale-110"
              src="{{ member.image }}"
              alt="Portraitbild von {{ member.name }}"
            >
            <div class="flex flex-col col-span-3">
              <strong>{{ member.name }}</strong>
              <span class="mb-0.5">{{ member.role }}</span>
              {% if member.email %}
                {% render 'text-link', text: member.email, href: "mailto:{{ member.email }}", class: "no-underline" %}
              {% endif %}
              {% if member.phone %}
                {% render 'text-link', text: member.phone, href: "tel:{{ member.phone }}", class: "no-underline" %}
              {% endif %}
            </div>
          </address>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

<section class="bg-bg text-text pt-16 pb-6">
  <div class="grid-container">
    <div class="lg:col-start-2 lg:col-span-6">
      <hr class="opacity-50">
      <p class="mt-4 pb-16 text-sm opacity-70">
        Die ODIS wird von der Berliner Senatsverwaltung für Wirtschaft, Energie und Betriebe gefördert und von der
        Technologiestiftung Berlin betrieben.
      </p>
    </div>
  </div>
</section>
