{% capture primary_color_classes %}
  {% if card_theme == 'normal' %}
    text-links
    group-focus-visible:ring-links
    group-focus-visible:ring-offset-bg-alt
    group-focus-visible:bg-bg-alt
  {% else %}
    text-links-inv
    group-focus-visible:ring-links-inv
    group-focus-visible:ring-offset-bg-inv
    group-focus-visible:bg-bg-inv
  {% endif %}
  group-hover:text-links-active
  group-focus-visible:ring-2
  group-focus-visible:ring-offset-8
  transition-colors
{% endcapture %}

<a
  href="{{ post_link }}"
  title="{{ post_link_text }}"
  {% if card_theme == 'inverted' %}
    rel="noopener noreferrer"
    target="_blank"
  {% endif %}
  class="group outline-none"
>
  {% render 'heading', size: 'lg', text: title, class: primary_color_classes %}
</a>
{% if author or readingTime %}
  <p class="-mt-2 mb-2 flex gap-x-2 flex-wrap opacity-70">
    {% if author %}
      <span>Von {{ author }}</span>
    {% endif %}
    {% if author and readingTime %}
      <span class="opacity-50 scale-150">·</span>
    {% endif %}
    {% if readingTime %}
      <span>{{ readingTime }} Minuten</span>
    {% endif %}
  </p>
{% endif %}
<p class="line-clamp-7">{{ description }}</p>
<div class="order-first text-sm {{ primary_color_classes }} flex gap-2 opacity-70">
  <time datetime="{{ date | date: "%Y-%m-%d" }}" class="justify-self-end">{{ date | date: '%d.%m.%Y' }}</time>
</div>
