---
import processed_kerndatensaetze from "../../assets/data/processed_kerndatensaetze.json";
---

<table id="kerndatentable" class="display lg:mx-8">
  <thead>
    <tr>
      <th>Kategorie</th>
      <th>Datensatz</th>
      <th>Beschreibung</th>
      <th>offen</th>
      <th>Link</th>
    </tr>
  </thead>
  {
    processed_kerndatensaetze.map((row) => (
      <tr>
        <td set:html={row[0]} />
        <td set:html={row[1]} />
        <td set:html={row[2]} />
        <td set:html={row[3]} />
        <td set:html={row[4]} />
      </tr>
    ))
  }
</table>

<script is:inline>
  $("#kerndatentable").DataTable({
    language: {
      search: "Stichwortsuche",
      lengthMenu: "Zeige _MENU_ Einträge pro Seite",
      info: "Zeige _START_ bis _END_ von _TOTAL_ Einträgen",
      paginate: {
        first: "Erste",
        previous: "Vorherige",
        next: "Nächste",
        last: "Letzte",
      },
    },
    columnDefs: [
      { orderable: false, targets: [2, 4] },
      { className: "bold", targets: [1] },
      { className: "dt-center", targets: 3 },
    ],
    initComplete: function () {
      this.api()
        .columns([0, 3])
        .every(function () {
          var column = this;
          var select = $('<select><option value="">Alle</option></select>')
            .appendTo($(column.header()))
            .on("change", function () {
              var val = $.fn.dataTable.util.escapeRegex($(this).val());
              column.search(val ? "^" + val + "$" : "", true, false).draw();
            });

          column
            .data()
            .unique()
            .sort()
            .each(function (d, j) {
              select.append(
                '<option value="' + d + '">' + d.substr(0, 30) + "</option>",
              );
            });
        });
    },
  });
</script>
